.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.main {
  /*del*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
