.flag {
    position: absolute;
    z-index: 10;
}

.block1 {
    position: absolute;
    left: 30px;

    z-index: 11;
}

.block2 {
    position: absolute;
    left: 90px;
    top: 85px;

    z-index: 12;
}