.all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-width: 1440px;
    height: 69px;

    background: linear-gradient(180deg, #3890E2 -26.09%, #2272C5 47.66%, #153E8D 123.19%);
    color: #f9f9f9;
}

.menu {
    display: flex;
}

.menuItem {
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.menuItemEnd {
    margin-right: 7px;
    padding-top: 20px;
}

.men {
    padding-top: 17px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

    letter-spacing: 2px;
    color: white;
}

.center .text {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 48px;
    font-family: 'sansation-light', serif;
}