.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

    letter-spacing: 2px;
    color: #f9f9f9;
}

.center .text {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 48px;
    font-family: 'sansation-light', serif;
}